body {
  // font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  //   Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: rgb(211, 225, 240);
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input {
  width: 70%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.15;

  padding: 2px 10px;
}

.country-list,
.wrapper {
  text-align: left;
}

.card {
  display: flex;
}

.card-title {
  text-align: center;
}

.card-text span {
  font-weight: 500;
}
.img-wrapper {
  margin-left: auto;
  align-self: flex-end;
}
